@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700);

body {
  font-family: 'Roboto Slab';
}

main {
  width: 100%;
  display: -moz-box;
  -moz-box-align: center;
  -moz-box-orient: vertical;
  margin-bottom: 25px;
}

.more-info {
  width: 100%;
  display: -moz-box;
  -moz-box-align: center;
  -moz-box-orient: vertical;
  margin-top: 24px;
  color: hsl(200, 95%, 75%);
  font-size: 1.3em;
}

h1 {
  margin: 2em 0 0;
  font-size: 3.4em;
}

h4 {
  font-size: 1.8em;
  margin: 1em 0 0;
}

::-moz-selection {
  background: black;
}

::selection {
  background: black;
}